/**
 * Node styling.
 */

.is-unpublished {
  background-color: #fff4f4;
}

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

.page-node-type-slideshow {
  .container{
    width: 100% !important;
  }

  .js-quickedit-page-title.page-header {
    display: none;
  }
  .slideshow.full {
    .author {
      display: none;
    }
  }

  .blazy .media--blazy img.media__element {
    width: 100%;
    height: 50rem;
  }

  .field--name-body {
    display: flex;
    margin-left: 10rem;
    margin-top: 20rem;
    margin-bottom: 40rem;

    img {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }
  @media (max-width: 767px) {
    .field--name-body {
      display: block;
      margin-left: unset;
      margin-right: unset;

      img {
        margin-right: unset;
        margin-left: unset;
        height: 35rem;
      }
    }
  }

  footer.footer {
    width: 100%;
    display: flex;
    background-color: #0c2340;

    #block-socialmedia {
      .menu--social-media {
        display: flex;

        .first {
          font-size: 0;
          background-image: url("../images/emergya-blanco.svg");
          background-repeat: no-repeat;
          padding: 5px 8rem;
          margin-right: 150rem;

          a:hover {
            background-color: unset;
          }
        }
        @media (max-width: 767px) {
          .first {
            margin-right: 10rem;
          }
        }
        li:nth-child(2){
          font-size: 0;
          background-image: url("../images/twitter.svg");
          background-repeat: no-repeat;
          margin-top: .5rem;

          a:hover {
            background-color: unset;
          }
        }
        .last {
          font-size: 0;
          background-image: url("../images/facebook.svg");
          background-repeat: no-repeat;
          margin-top: .5rem;

          a:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}
