.slick {
  position: relative;
  @include breakpoint('small-only') {
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
    > .slide {
      padding: 0 #{$gutter};
    }
  }
  .slick__slider {
    .slick-list {
      margin-#{$left}: -80px;
      @include breakpoint('small-up') {
        margin-left: -#{$gutter};
        margin-right: -#{$gutter};
        .slick-track {
          margin: 0;
        }
      }
      .slick-slide {
        padding: 0 #{$gutter};
        @include breakpoint('small-only') {
          &:not(.slick-current) {
            opacity: 0.6;
          }
        }
      }
    }
  }
  //&.slick--optionset--carrousel-2-elements,
  //&.slick--optionset--carrousel-3-elements,
  //&.slick--optionset--carrousel-4-elements,
  //&.slick--optionset--carrousel-6-elements {
  //  .slick__arrow {
  //    .slick-arrow {
  //      @include absolute-center-Y();
  //      width: 60px;
  //      height: 60px;
  //      font-size: 0;
  //      background: #FFF;
  //      border: none;
  //      @include border-radius(100%);
  //      opacity: 0.9;
  //      -webkit-appearance: none;
  //      &:before,
  //      &:after {
  //        content: "";
  //        display: block;
  //        position: absolute;
  //        width: 20px;
  //        height: 5px;
  //        background: $btn-decoration;
  //        border-radius: 20px;
  //      }
  //      &.slick-prev {
  //        left: -30px;
  //        &:before {
  //          top: 22px;
  //          left: 18px;
  //          transform: rotate(-45deg);
  //        }
  //        &:after {
  //          bottom: 22px;
  //          left: 18px;
  //          transform: rotate(45deg);
  //        }
  //      }
  //      &.slick-next {
  //        right: -30px;
  //        &:before {
  //          bottom: 22px;
  //          right: 18px;
  //          transform: rotate(-45deg);
  //        }
  //        &:after {
  //          top: 22px;
  //          right: 18px;
  //          transform: rotate(45deg);
  //        }
  //      }
  //      &.slick-disabled {
  //        cursor: inherit;
  //        opacity: 0.5;
  //      }
  //    }
  //    @include breakpoint('small-only') {
  //      display: none;
  //    }
  //  }
  //}
  @include breakpoint('small-up') {
    &.slick--optionset--carrousel-3-elements {
      > .slide {
        width: calc(100% / 3);
      }
    }
  }
}